# Compilados Maven
backend/target/

# Archivos de entorno
*.env
.env

# IDE
.idea/
.vscode/
*.iml
*.class

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Frontend
frontend/node_modules/
frontend/.expo/
